[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xavierley
[access "refs/for/refs/*"]
	read = group user/xavierley
	push = group user/xavierley
	label-Code-Review = -2..+2 group user/xavierley
	label-Verified = -1..+1 group user/xavierley
	rebase = group user/xavierley
	removeReviewer = group user/xavierley
	submit = group user/xavierley
[access "refs/heads/*"]
	read = group user/xavierley
	create = group user/xavierley
	push = +force group user/xavierley
	pushMerge = group user/xavierley
[access "refs/tags/*"]
	push = +force group user/xavierley
	pushTag = group user/xavierley
	pushSignedTag = group user/xavierley
