<label for="title">
	<f:translate key="tx_eannuaires_domain_model_fiche.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="name">
	<f:translate key="tx_eannuaires_domain_model_fiche.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="firstname">
	<f:translate key="tx_eannuaires_domain_model_fiche.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="address">
	<f:translate key="tx_eannuaires_domain_model_fiche.address" />
</label><br />
	<f:form.textfield property="address" /><br />
<label for="zipcode">
	<f:translate key="tx_eannuaires_domain_model_fiche.zipcode" />
</label><br />
	<f:form.textfield property="zipcode" /><br />
<label for="bp">
	<f:translate key="tx_eannuaires_domain_model_fiche.bp" />
</label><br />
	<f:form.textfield property="bp" /><br />
<label for="cell">
	<f:translate key="tx_eannuaires_domain_model_fiche.cell" />
</label><br />
	<f:form.textfield property="cell" /><br />
<label for="phone">
	<f:translate key="tx_eannuaires_domain_model_fiche.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="config">
	<f:translate key="tx_eannuaires_domain_model_fiche.config" />
</label><br />
	<f:form.textfield property="config" /><br />
<label for="typeelement">
	<f:translate key="tx_eannuaires_domain_model_fiche.typeelement" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="typeelement" /><br />
<label for="lat">
	<f:translate key="tx_eannuaires_domain_model_fiche.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_eannuaires_domain_model_fiche.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="picto">
	<f:translate key="tx_eannuaires_domain_model_fiche.picto" />
</label><br />
	<f:form.upload property="picto" /><br />
<label for="description">
	<f:translate key="tx_eannuaires_domain_model_fiche.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_eannuaires_domain_model_fiche.image" />
</label><br />
	<f:form.upload property="image" /><br />
<label for="www">
	<f:translate key="tx_eannuaires_domain_model_fiche.www" />
</label><br />
	<f:form.textfield property="www" /><br />
<label for="email">
	<f:translate key="tx_eannuaires_domain_model_fiche.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="feuser">
	<f:translate key="tx_eannuaires_domain_model_fiche.feuser" />
</label><br />
	<f:form.textfield property="feuser" /><br />
<label for="civility">
	<f:translate key="tx_eannuaires_domain_model_fiche.civility" />
</label><br />
	<f:form.textfield property="civility" /><br />
<label for="office">
	<f:translate key="tx_eannuaires_domain_model_fiche.office" />
</label><br />
	<f:form.textfield property="office" /><br />