{namespace annuaire=Emagineurs\EAnnuaires\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />

    <f:comment>
    	--- AFFICHAGE DE L'ORGANIGRAMME ---
    	<f:render partial="Fiche/organigramme" arguments="{organigramme: organigramme}" />
    </f:comment>

            <f:if condition="{settings.menu_abc}">
                <f:then>
                    <f:if condition="{settings.pageBrowser}">
                        <f:then>
                           <div id="abc_annuaire" class="abc_annu">
                                <ul>
                                    <f:for each="{annuaire:Abecedaire(list:fiches)}" as="lettre">
                                        <li><f:format.htmlentitiesDecode>{lettre}</f:format.htmlentitiesDecode></li>
                                    </f:for>
                                </ul>
                            </div>

                            <f:for each="{annuaire:UsedLetters(list:fiches)}" as="currentLetter">
                                <div id="{currentLetter}" class="letter" >
                                    <span class="lettre_encours_annu">{currentLetter}</span>
                                    <f:switch expression="{settings.templateLayoutListe}">
                                        <f:case value="30">
                                            <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                        </f:case>
                                        <f:case value="40">
                                            <f:render partial="Fiche/ListLetterVideo" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                        </f:case>
                                        <f:case value="">
                                            <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                        </f:case>
                                    </f:switch>
                                    <div class="haut_annuaire">
                                        <a href="#abc_annuaire">Haut de page</a>
                                    </div> 
                                </div>
                            </f:for>
                                
                            <f:render section="pagination" arguments="{currentPage:currentPage,countFiches:countFiches,nbPage:nbPage,page:page}" />
                        </f:then>
                        <f:else>
                            <div id="abc_annuaire" class="abc_annu">
                                <ul>
                                    <f:for each="{annuaire:Abecedaire(list:fiches)}" as="lettre" iteration="itemIteration" >
                                        <li><f:format.htmlentitiesDecode>{lettre}</f:format.htmlentitiesDecode></li>
                                    </f:for>
                                </ul>
                            </div>

                            <f:for each="{annuaire:UsedLetters(list:fiches, complete:1)}" as="currentLetter">
                                <div id="{currentLetter}" class="letter" >
                                    <span class="lettre_encours_annu">{currentLetter}</span>
                                    <f:switch expression="{settings.templateLayoutListe}">
                                        <f:case value="30">
                                            <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                        </f:case>
                                        <f:case value="40">
                                            <f:render partial="Fiche/ListLetterVideo" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                        </f:case>
                                        <f:case value="">
                                            <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                        </f:case>
                                    </f:switch>
                                    <div class="haut_annuaire">
                                        <a href="#abc_annuaire">Haut de page</a>
                                    </div> 
                                </div>
                            </f:for>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{settings.pageBrowser}">
                        <f:then>
                            <f:for each="{fiches}" as="fiche">
                                <f:switch expression="{settings.templateLayoutListe}">
                                    <f:case value="30">
                                        <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                    </f:case>
                                    <f:case value="40">
                                        <f:render partial="Fiche/ListLetterVideo" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                    </f:case>
                                    <f:case value="">
                                        <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                    </f:case>
                                </f:switch>
                            </f:for>
                            <f:render section="pagination" arguments="{currentPage:currentPage,countFiches:countFiches,nbPage:nbPage,page:page}" />
                        </f:then>
                        <f:else>
                            <f:switch expression="{settings.templateLayoutListe}">
                                <f:case value="30">
                                    <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                </f:case>
                                <f:case value="40">
                                    <f:render partial="Fiche/ListLetterVideo" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                </f:case>
                                <f:case value="">
                                    <f:render partial="Fiche/ListLetterPersonne" arguments="{fiches:fiches, settings:settings, letter:currentLetter}" /><br />
                                </f:case>
                            </f:switch>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
</f:section>

<f:section name="pagination">
    <div class="pagination_annuaire">
        <span class="numpage">page {currentPage} sur <f:count subject="{countFiches}" />&nbsp;|</span>
        <span class="paginate_annuaire">
            <f:for each="{countFiches}" as="Fiche" key="number" iteration="itemIteration">
                <f:render partial="Fiche/paginate" arguments="{itemIteration:itemIteration, prevPage:prevPage, currentPage:currentPage}" />  
            </f:for>  
            <f:if condition="{nbPage} == {currentPage}">
                <f:else>
                    <f:link.action arguments="{page:nextPage}">
                        Suivant
                    </f:link.action>
                </f:else>
            </f:if>
        </span>
    </div>
</f:section>